@font-face {
  font-family: "Akbaal";
  src: url("/fonts/akbaal.ttf") format("truetype");
}
@font-face {
  font-family: "Skelett";
  src: url("/fonts/Skelett.ttf") format("truetype");
}
@font-face {
  font-family: "Times New Normal";
  src: url("/fonts/Times New Normal Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Times New Romance";
  src: url("/fonts/Times New Romance.ttf") format("truetype");
}
@font-face {
  font-family: "Made Likes";
  src: url("/fonts/MADE Likes Slab.otf") format("opentype");
}
@font-face {
  font-family: "Made Waffle";
  src: url("/fonts/MADE Waffle Slab.otf") format("opentype");
}
:root {
  scroll-behavior: smooth;
}

:not(html, head, body, style, script, ul, ol, li, svg, path) {
  display: flow-root;
}

::-moz-selection {
  background: blueviolet;
  color: aqua;
}

::selection {
  background: blueviolet;
  color: aqua;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body aside {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background-image: linear-gradient(to bottom right, midnightblue, indigo);
}
body aside div {
  font: 2rem "Times New Normal", sans-serif;
  color: white;
  margin: 10px 0;
}
body aside div:last-child {
  margin-top: auto;
}
body main {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: calc(100% - 200px);
  background-image: linear-gradient(to bottom right, indigo, coral);
}
body main div.content {
  padding: 20px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main div.content h1 {
  font: 5rem "Akbaal", sans-serif;
}
body main div.content a {
  font: 3.5rem "Skelett", sans-serif;
  color: black;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  padding: 0 0.5em;
  transition: all 0.5s;
  z-index: 1;
}
body main div.content a:hover {
  color: white;
}
body main div.content a::before {
  content: "";
  z-index: -1;
  border-radius: 999px;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all 0.3s;
  background-image: linear-gradient(-90deg, red, orange, yellow, green, blue, purple, red);
  background-size: 200% 100%;
  background-repeat: repeat-x;
  -webkit-animation: link-bg 5s linear 0s infinite;
  animation: link-bg 5s linear 0s infinite;
}
@-webkit-keyframes link-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200% 0;
  }
}
@keyframes link-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200% 0;
  }
}
body main div.content a:hover::before {
  width: 100%;
  opacity: 1;
}
body main div.content section {
  display: flex;
  gap: 10px;
  border-radius: 30px;
  width: 60%;
  background-color: dimgray;
  padding: 20px;
  margin-top: 20px;
}
body main div.content section article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  flex: 1;
  margin-top: 0;
}
body main div.content section article h2 {
  font: 1.75rem "Times New Normal", sans-serif;
  color: lightgray;
}
body main div.content section article p {
  font: 1.1rem "Made Likes", sans-serif;
  background-color: gray;
  color: navy;
  padding: 10px;
  border-radius: 20px;
}

/*# sourceMappingURL=style.css.map */
