@font-face {
  font-family: "Akbaal";
  src: url("/fonts/akbaal.ttf") format("truetype");
}
@font-face {
  font-family: "Skelett";
  src: url("/fonts/Skelett.ttf") format("truetype");
}
@font-face {
  font-family: "Times New Normal";
  src: url("/fonts/Times New Normal Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Times New Romance";
  src: url("/fonts/Times New Romance.ttf") format("truetype");
}
@font-face {
  font-family: "Made Likes";
  src: url("/fonts/MADE Likes Slab.otf") format("opentype");
}
@font-face {
  font-family: "Alba";
  src: url("/fonts/ALBA____.TTF") format("truetype");
}
@font-face {
  font-family: "Bauserif";
  src: url("/fonts/bauserif.ttf") format("truetype");
}
@font-face {
  font-family: "Barkentina";
  src: url("/fonts/Barkentina.otf") format("opentype");
}
@font-face {
  font-family: "Gist";
  src: url("/fonts/GistLight.otf") format("opentype");
}
@font-face {
  font-family: "Black Chancery";
  src: url("/fonts/Black Chancery.TTF") format("truetype");
}
@font-face {
  font-family: "Bonte Divina";
  src: url("/fonts/BonteDivine.otf") format("opentype");
}
@font-face {
  font-family: "Cano";
  src: url("/fonts/Cano.otf") format("opentype");
}
@font-face {
  font-family: "Comfortaa";
  src: url("/fonts/Comfortaa-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Dark and Black";
  src: url("/fonts/Dark & Black D.otf") format("opentype");
}
@font-face {
  font-family: "Diandra";
  src: url("/fonts/Diandra-demo.ttf") format("truetype");
}
@font-face {
  font-family: "Type Machine";
  src: url("/fonts/Type Machine.ttf") format("truetype");
}
:root {
  scroll-behavior: smooth;
}

:not(html, head, body, style, script, ul, ol, li, svg, path) {
  display: flow-root;
}

::-moz-selection {
  background: blueviolet;
  color: aqua;
}

::selection {
  background: blueviolet;
  color: aqua;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gist {
  font: 1.1rem "Gist", serif !important;
}

.alba {
  font: 1.1rem "Alba", sans-serif !important;
}

.bauserif {
  font: 1.1rem "Bauserif", sans-serif !important;
}

.barkentina {
  font: 1.1rem "Barkentina", sans-serif !important;
}

.made-likes {
  font: 1.1rem "Made Likes", sans-serif !important;
}

.times-new-romance {
  font: 1.1rem "Times New Romance", sans-serif !important;
}

.times-new-normal {
  font: 1.1rem "Times New Normal", sans-serif !important;
}

.black-chancery {
  font: 1.1rem "Black Chancery", sans-serif !important;
}

.bonte-divina {
  font: 1.1rem "Bonte Divina", sans-serif !important;
}

.cano {
  font: 1.1rem "Cano", sans-serif !important;
}

.comfortaa {
  font: 1.1rem "Comfortaa", sans-serif !important;
}

.dark-and-black {
  font: 1.1rem "Dark and Black", sans-serif !important;
}

.diandra {
  font: 1.1rem "Diandra", sans-serif !important;
}

.type-machine {
  font: 1.1rem "Type Machine", sans-serif !important;
}

template {
  display: none;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 20px 20px 20px;
  background-image: repeating-linear-gradient(-45deg, black 0px 10px, orange 10px 20px);
}
body::after {
  content: "Website under construction";
  font: 2rem "Alba", sans-serif;
  text-shadow: 2px 2px 1px #000000, 2px -2px 1px #000000, -2px -2px 1px #000000, -2px 2px 1px #000000;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
body main {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom right, indigo, coral);
  background-color: black;
}
body main div.content {
  padding: 20px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main div.content h1 {
  font: 5rem "Akbaal", sans-serif;
}
body main div.content .link-rainbow {
  font: 4.3rem "Skelett", sans-serif;
  color: black;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  padding: 0 0.5em;
  transition: all 0.5s;
  z-index: 1;
}
body main div.content .link-rainbow:hover {
  color: white;
}
body main div.content .link-rainbow::before {
  content: "";
  z-index: -1;
  border-radius: 999px;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all 0.3s;
  background-image: linear-gradient(-90deg, red, orange, yellow, green, blue, purple, red);
  background-size: 200% 100%;
  background-repeat: repeat-x;
  -webkit-animation: link-bg 5s linear 0s infinite;
  animation: link-bg 5s linear 0s infinite;
}
@-webkit-keyframes link-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200% 0;
  }
}
@keyframes link-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200% 0;
  }
}
body main div.content .link-rainbow:hover::before {
  width: 100%;
  opacity: 1;
}
body main div.content .link-arrows {
  font-size: 4rem;
  position: relative;
  text-decoration: none;
  margin-top: 20px;
  color: #ababab;
  padding: 0 1em;
  border-radius: 999px;
  z-index: 1;
  transition: all 0.5s;
}
body main div.content .link-arrows .text {
  font: 1em "Cano", sans-serif;
  z-index: 1;
}
body main div.content .link-arrows .arrows {
  opacity: 0;
  transition: all 0.5s;
}
body main div.content .link-arrows .arrows div {
  opacity: 0;
  color: var(--color);
  font-size: 0.75em;
  position: absolute;
  left: var(--x);
  top: var(--y);
  z-index: -1;
  animation: arrow var(--duration) linear var(--delay) infinite forwards;
}
body main div.content .link-arrows:hover {
  color: #303030;
  background-color: #000;
  transition: all 0.5s;
}
body main div.content .link-arrows:hover .arrows {
  opacity: 1;
  transition: all 0.5s;
}
@keyframes arrow {
  0% {
    opacity: 0;
    left: var(--x);
  }
  5% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: 100%;
  }
}
body main div.content section {
  display: flex;
  gap: 20px;
  border-radius: 30px;
  width: 60%;
  background-color: dimgray;
  padding: 20px;
  margin-top: 20px;
}
body main div.content section.font-selection {
  flex: none;
}
body main div.content section.font-selection div.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main div.content section article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  flex: 1;
  margin-top: 0;
}
body main div.content section article h2 {
  font: 1.75rem "Times New Normal", sans-serif;
  color: lightgray;
}
body main div.content section article p {
  font: 1.1rem "Averia", sans-serif;
  background-color: gray;
  color: navy;
  padding: 10px;
  border-radius: 20px;
}

/*# sourceMappingURL=style.css.map */
